{% extends 'deals/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-5 text-center">
            <div class="pt-3 pb-4">
                <div class="card p-2">
                    <form method="POST">
                        {% csrf_token %}
                        <fieldset class="form-group">
                            <legend class="border-bottom p-3">Log in</legend>
                            {{ form|crispy }}
                        </fieldset>
                        <div class="form-group pb-3">
                            <button class="btn btn-primary" type="submit">Log in</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}